<div class="row">
  <div class="col-sm-12 text-center">
    <%= link_to "Room", room_path, :class => 'btn btn-primary' %> |
    <%= link_to "Gallery", gallery_path,  :class => 'btn btn-primary' %>
  </div>
</div>
