<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <%= link_to "Hotel", root_path, class: "navbar-brand" %>
   
    <ul class="navbar-nav ml-auto">
      <%= link_to "Galery",  class: "nav-link"  %>
         
     
      <%= link_to "Contact", class: "nav-link" %>
        
      
    </ul>
</nav>
